.title-pop {
  animation: titlePop 0.6s linear;
}

.title-crunch-left {
  animation: titleCrunchLeft 0.8s linear;
}

.title-crunch-right {
  animation: titleCrunchRight 0.8s linear;
}

@keyframes titlePop {
  0% {
    font-size: 100%;
  }

  25% {
    font-size: 125%;
  }

  50% {
    font-size: 150%;
  }

  75% {
    font-size: 125%;
  }

  100% {
    font-size: 100%;
  }

}

@keyframes titleCrunchLeft {
  0% {
    left:0px;
  }

  25% {
    left:3px;
  }

  50% {
    left:6px;
  }

  75% {
    left:3px;
  }

  100% {
    left:0px;
  }

}

@keyframes titleCrunchRight {
  0% {
    right:0px;
  }

  25% {
    right:3px;
  }

  50% {
    right:6px;
  }

  75% {
    right:3px;
  }

  100% {
    right:0px;
  }

}
